/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* general */
:root {
    --color-nav: #0084fd;
    --color-bg-color-white: #ffffff;
    --color-bg-color-secondary: #9792e4;
    --color-footer-color: #333333;
    --color-bg-jambo: #b5ddff;
    --it-s-free: #EBBE76;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "PT Sans", sans-serif;
}

a {
    color: var(--color-bg-color-white);
}
h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
h3 {
    font-size: x-large;
    margin-bottom: 15px;
}
p {
    margin-bottom: 15px;
}
img:not(#features img, header img){
    margin-bottom: 20px;
}
/* header  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: var(--color-nav);
    display: none;
}

header nav {
    position: relative;
}

header nav:hover ul {
    display: block;
}

header nav a {
    display: block;
    padding: 0 40px;
}

/* main  */
main {
    padding-top: 70px;
}

section {
    padding: 40px;
    scroll-margin-top: 75px;
}

section img {
    width: 100%;
    display: block;
}

#features .fa-solid,
#features h3 {
    color: var(--color-nav);
}
#features img {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}
#features i:not(.big-card i) {
    font-size: xx-large;
}
#benefits div {
    color: var(--color-bg-color-secondary);
}

/* footer  */
footer {
    padding: 20px 40px;
}

/* text  */
.white {
    color: var(--color-bg-color-white);
}

.blue {
    color: var(--color-nav);
}

.purple {
    color: var(--color-bg-color-secondary);
}

.black {
    color: var(--color-footer-color);
}

.yellow {
    color: var(--it-s-free);
}
.text-center {
    text-align: center;
}
.small {
    font-size: x-small;
} 
.bolder {
    font-weight: bolder;
}
/* background  */
.bg-blue {
    background-color: var(--color-nav);
}

.bg-purple {
    background-color: var(--color-bg-color-secondary);
}

.bg-light {
    background-color: var(--color-bg-jambo);
}

.bg-white {
    background-color: var(--color-bg-color-white);
}

.bg-black {
    background-color: var(--color-footer-color);
}

/* border  */
.big-rounded {
    border-radius: 30px;
}
.small-rounded {
    border-radius: 20px;
}
.round {
    width: 50%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}
.radius {
    border-radius: 50%;
}
/* utility  */
.container {
    width: 100%;
    padding: 40px;
}
.d-flex {
    display: flex;
}
.opacity {
    filter: brightness(0.7);
}
.top-right{
    position: absolute;
    top: 0;
    right: 20%;

}
.fa-quote-left:not(#testimonials .fa-quote-left) {
    font-size: 80px;
}
.relative {
    position: relative;
}

.card,
.big-card {
    padding: 20px;
    margin-bottom: 20px;
}


#testimonials img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#call-to-action .btn{
    margin-bottom: 15px;
}
.btn {
    padding: 6px 12px;
    display: inline-block;
}
.hidden {
    overflow: hidden;
}
/* flex utility  */

/* media query  */


@media screen and (min-width: 768px) {
    #features .big-card {
        width: calc(100% * (2 / 3) - 30px);
    }

    #features .card {
        width: calc(100% / 3 - 30px);
    }

    #features .container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: auto;
    }

    #testimonials .card {
        display: flex;
        align-items: center;
        text-align: start;
        gap: 50px;
    }

    #benefits .container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    #benefits .card {
        width: calc(100% / 2 - 30px);
    }
    #about-us {
        display: flex;
        gap: 80px;
    }
    #about-us div.round{
        width: 100%;
        margin-bottom: 15px;
    }
    footer>div {
        width: 600px;
        margin: auto;
    }
    .fa-quote-left:not(#testimonials .fa-quote-left) {
        font-size: 20px;
    }
}


@media screen and (min-width: 1200px) {
    header nav:hover ul {
        display: flex;
    }

    header nav ul {
        position: static;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    i.fa-solid.fa-bars {
        display: none;
    }

    #features .container {
        width: 1000px;
    }
    .big-card {
        display: flex;
    }
    #planning .container {
        display: flex;
        align-items: flex-end;
        width: 800px;
        margin: auto;
        gap: 20px;
    }

    #planning .card1 {
        width: calc(65%);
    }
    #planning .card2 {
        width: calc(35%);
    }
    #testimonials {
        width: 1000px;
        margin: auto;
    }

   .round {
        width: 25%;
    }

    #benefits>div {
        width: 1000px;
        margin: auto;
    }

    #benefits .card {
        width: calc(100% / 3 - 30px);
    }
    #about-us {
        width: 1000px;
        margin: auto;
    }
    #call-to-action>div {
        width: 600px;
        margin: auto;
    }
    .fa-quote-left:not(#testimonials .fa-quote-left) {
        font-size: 30px;
    }

}

@media screen and (min-width: 576) {}

@media screen and (min-width: 480px) {}